.button_cancel {
    fill: #dc143c;
    height: 35px;
    width: 35px;
    position: absolute;
    right: -16px;
    top: -12px;
    border: none;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0)
}

.button_cancel:hover {
    height: 40px;
    width: 40px;
    opacity: 1;
    transition: all;
    transition-timing-function: ease;
}